{
  "presets": ["@babel/preset-env", "@babel/react"],
  "plugins": [
    "@babel/plugin-proposal-object-rest-spread",
    "babel-plugin-transform-class-properties",
    "babel-plugin-react-css-modules",
    "transform-object-rest-spread",
    "transform-react-jsx"
  ]
}
